<%= form_with(model: [@list, @wish]) do |form| %>
  <% if @wish.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% @wish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
